# Pastas de dependências e pacotes
/vendor/
/node_modules/
npm-debug.log
yarn-error.log

# Logs do sistema
*.log

# Arquivos de ambiente e chaves (MUITO IMPORTANTE NÃO SUBIR)
.env
.env.backup
.env.production
storage/*.key
auth.json

# Pastas e arquivos gerados pelo Laravel/Vite
/public/build
/public/hot
/public/storage
/storage/pail
.phpunit.result.cache
/.phpunit.cache

# Configurações de IDEs e Editores
.DS_Store
Thumbs.db
/.codex
/.cursor/
/.idea
/.nova
/.vscode
/.zed
.phpactor.json
_ide_helper.php

# Vagrant / Homestead
Homestead.yaml
Homestead.json
/.vagrant
